VITE_SUPABASE_URL=https://ldjlujubthlehyhruqfp.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=yoeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxkamx1anVidGhsZWh5aHJ1cWZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0MTg0NDgsImV4cCI6MjA5Njk5NDQ0OH0.xT4UGkJu20VkdxxONYF7cFttpQ44u0Rk4QNOOW3-7Vs
